In [2]:
# slicing of lists:  splitting the list into sub parts

mystudents = ['aditi','alapati','krishna','indrani','reshma']

In [3]:
# how to consider a group of students out of the given list

# req: print first 3 students only

print(mystudents)

['aditi', 'alapati', 'krishna', 'indrani', 'reshma']

In [4]:
print(mystudents[0:2])

['aditi', 'alapati']

In [ ]:
# indexing will always starts from zero
# --- *** always it excludes the last value in the range

In [5]:
print(mystudents[0:3])

['aditi', 'alapati', 'krishna']

In [6]:
# req: to print the values from Krishna to reshma in the list

print(mystudents[2:5])        # here 5 represents last value in the indexing, in the result it will print the elements of 5-1=4

['krishna', 'indrani', 'reshma']

In [7]:
print(mystudents[:3])            # here starting position not mentioned, end position defined it means it will consider starting point as zero

['aditi', 'alapati', 'krishna']

In [8]:
print(mystudents[2:])       # here no end position , means it will print the element till end

['krishna', 'indrani', 'reshma']

In [9]:
# making numerical list
for value in range(1,100):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
# excludes last value i.e., 100

In [10]:
numbers = list(range(1,50))

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [11]:
# ***  how to print only even numbers till 80?

eve_num = list(range(2,81,2))

print(eve_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80]

In [ ]:
# Range sysntax

#  range  ---> start point, end point, step count

In [17]:
# Task for working

# slicing mystudents

mystudents = ['aditi','alapati','krishna','indrani','reshma','mahesh','chaitu','subbu','simha','siddu','viswam','harish']

# here is list defined with 12 elements

print(mystudents)

['aditi', 'alapati', 'krishna', 'indrani', 'reshma', 'mahesh', 'chaitu', 'subbu', 'simha', 'siddu', 'viswam', 'harish']

In [16]:
# print elements with odd number indexing position

print(mystudents[1:12:2])

['alapati', 'indrani', 'mahesh', 'subbu', 'siddu', 'harish']

In [18]:
# print elements with even number indexing position

print(mystudents[0:12:2])

['aditi', 'krishna', 'reshma', 'chaitu', 'simha', 'viswam']

In [21]:

print(mystudents)

['aditi', 'alapati', 'krishna', 'indrani', 'reshma', 'mahesh', 'chaitu', 'subbu', 'simha', 'siddu', 'viswam', 'harish']

In [23]:
#  ***** how to make a duplicate copy of the list given   

my_food = ['mushroom','chicken','corn','olive','gelapino'] 

friend1_food = my_food[:]     # *** making duplicate, to avoid modifications on actual one

print(friend1_food)

['mushroom', 'chicken', 'corn', 'olive', 'gelapino']